
.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.inputGroup {
  margin-bottom: 15px;
}

.inputGroup label {
  display: block;
  margin-bottom: 5px;
}

.inputGroup input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.inputGroup select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: white;
}


.styleSection {
  margin-top: 20px;
}

.styleSection label {
  margin-right: 10px;
}


.inputGroupAll {
  display: flex;
  column-gap: 10px;
  flex-wrap: wrap;
}
.inputGroupAll div {
  width: calc(25% - 10px); /* Adjust width for margin or padding */
}
.styleName {
  margin-bottom: 10px;
  font-weight: bold;
}
.insideStyleNote {
  color: #ff0000;
  text-align: center;
}