/* TitleForm.module.css */

.container {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
}

.container2 {
  font-family: Arial, sans-serif;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.backdropParent {
  position: relative;
}
.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 5px;
  height: 100%;
  background-color: rgba(81, 75, 75, 0.826); /* Semi-transparent black */
  z-index: 10; /* Ensure the backdrop stays above other elements */
}

.editButton {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.3em;
  font-weight: 600;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 20px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  z-index: 15;
  transform: translate(-50%, -50%);
}
.editButton2:hover,
.editButton:hover {
  background-color: #45a049;
  cursor: pointer;
}

.backdrop2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 5px;
  height: 100%;
  background-color: rgb(60, 60, 60); /* Semi-transparent black */
  z-index: 20; /* Ensure the backdrop stays above other elements */
}

.editButton2 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.3em;
  font-weight: 600;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 20px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  z-index: 25;
  transform: translate(-50%, -50%);
}

.successSave {
  position: absolute;
  top:  38%;
  left: 50%;
  font-size: 1.3em;
  font-weight: 600;
  color: rgb(255, 255, 255);
  font-size: 1.3em;
  font-weight: 700;
  z-index: 15;
  transform: translate(-50%);
}
.successSave2 {
  position: absolute;
  top:  38%;
  left: 50%;
  font-size: 1.3em;
  font-weight: 600;
  color: rgb(255, 255, 255);
  font-size: 1.3em;
  font-weight: 700;
  z-index: 25;
  transform: translate(-50%);
}