/* center the content */
.jsonView {
  display: flex;
  justify-content: center;
}

.saveButtonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.saveButton {
  width: 100px;
  height: 40px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.note{
  color: red;
  margin-bottom: 5px;
}
