.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-left: 5px;
}

.customCheckbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: white;
  border: 1px solid black;
  cursor: pointer;
}
.customCheckbox:hover {
  background: rgb(255, 173, 173);
}

.checked::before {
  content: "X";
  color: rgb(0, 0, 0); /* Set the color of the 'X' */
  font-size: 15px; /* Adjust the font size as needed */
  display: flex;
  align-items: center;
  justify-content: center;
 
}


.hiddenCheckbox {
  display: none;
  margin: 0;
}
.isRed {
    color: red !important;
  }
  
  .isGreen {
    color: green !important;
  }
  