.isRed {
  color: red !important;
}

.isGreen {
  color: green !important;
}
.done {
  margin: 0 5px;
  background-color: #f0f0f0;
  color: #000;
  border: 1px solid #ccc;
  font-size: 0.8em;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.done:hover {
  background-color: #ddd;
  color: red;
}