.myTable {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

.myTable tr td {
  border-bottom: 1px solid black;
  padding: 0 10px;
}

.title {
  font-weight: 600;
}

.isRed {
  color: red;
}

.linkButton {
  display: inline-block;
  padding: 2px 5px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8em;
  margin-right: 2px;
}

.button {
  display: inline-block;
  padding: 2px 5px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8em;
}
