.myTable {
  border: 1px solid black;
  box-sizing: border-box;
  width: 100%;
}

.title {
  font-weight: 600;
}

.wrapper {
  border: 1px solid black;
}
.title2 {
  margin: 5px;
  font-weight: 510;
  text-decoration: underline;
}


.linkButton {
  display: inline-block;
  padding: 2px 5px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8em;
  margin-right: 2px;
}

.button {
  display: inline-block;
  padding: 2px 5px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8em;
}
